@model Iceland.Models.Items
@{
    ViewBag.Title = "Inventory Management";
}

@using (Html.BeginForm("UpdatedInventory", "Home"))
{
    <div class="row" style="margin-bottom:20px; background-color:gainsboro; height:50px;">
        <div class="form-inline col-12">
            <label style="font-size:19px;"><strong>Inventory Management System</strong></label>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-2">
            <h6><strong>Item Name</strong></h6>
        </div>

        <div class="col-md-2">
            <h6><strong>Sell In</strong></h6>
        </div>

        <div class="col-md-2">
            <h6><strong>Quality</strong></h6>
        </div>
    </div>

    for (int i = 0; i < Model.InventoryItems.Count(); i++)
    {
        <div class="row" style="margin-bottom:5px;">
            <div class="col-md-2">
                @Html.EditorFor(modelItem => modelItem.InventoryItems[i].ItemName)
            </div>

            <div class="col-md-2">
                @Html.EditorFor(modelItem => modelItem.InventoryItems[i].SellIn)
            </div>

            <div class="col-md-2">
                @Html.EditorFor(modelItem => modelItem.InventoryItems[i].Quality)
            </div>
        </div>
    }

    <hr />

    <div class="row" style="background-color:gainsboro; height:50px;">
        <div class="form-inline col-4">
            <button name="btnUpdate" id="btn_update" type="submit" class="btn btn-success btn-sm">
                <i class="fa fa-check"></i>&nbsp;Update Inventory
            </button>
        </div>
    </div>
}